backend_uri: http://my-backend-server.example.com
username: user_who_can_create_records # defaults to "admin"
password: my_clever_password

# Directory with EAD files to be uploaded
ingest_dir: ./where_my_files_live

# This MUST be set to 1 prior to ArchivesSpace v1.5.2 due to known issue
max_concurrency: 1

# Currently, the import script doesn't know how to find repositories from shortnames
# Therefore, it's necessary to build a manual mapping from one to the other.

# Keys: leading non-numeric prefix of EAD file, Values: DB ID of repository
repositories:
  ajp: 13
  arn: 31
  art: 9
  bak: 11
  ber: 10
  dca: 24
  div: 12
  env: 19
  fal: 17
  far: 29
  fun: 23
  gra: 30
  gsd: 7
  hfa: 21
  hou: 15
  hua: 4
  hyl: 22
  law: 5
  mcz: 20
  med: 14
  mus: 25
  pea: 6
  sch: 8
  toz: 26
  uri: 27
  wid: 28
